* {
    font-size: 1.3vw;
    font-family: "Epilogue", sans-serif;
  }
  
  html {
    --scrollbarBG: #fff;
    --thumbBG: #90a4ae;
  }
  
  body {
    background-image: url(Background\ image.jpg);
   
   background-size: 1200px;
  }
  body .card {
    height: 45vw;
    width: 35vw;
    background-color: rgb(255, 254, 254);
    margin-left: 30vw;
    margin-top: 5vw;
    border-radius: 20px;
    border-bottom-right-radius: 30px;
    background: linear-gradient(110deg,rgba(0, 0, 0, 0.1),rgba(255,255,255,0));
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(50px);
   box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(201, 200, 200);
  }
  body .card #header {
    height: 5vw;
    background: #292727;
    padding: 0vw;
    border-radius: 20px;
  }
  body .card #header h1 {
    color: #fffbfb;
    font-size: 2vw;
    font-family: "Finger Paint", cursive;
    padding: 1vw;
  }
  body .card #message-section::-webkit-scrollbar {
    width: 10px;
  }
  body .card #message-section {
    height: 32vw;
    padding: 0 2.5vw;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body .card #message-section::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body .card #message-section::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  body .card #message-section #bot,
  body .card #message-section #user {
    position: relative;
    bottom: 0;
    min-height: 1.5vw;
    border: 0.15vw solid rgb(0, 255, 136);
    background-color: rgb(0, 0, 0);
    border-radius: 0px 1.5vw 1.5vw 1.8vw;
    padding: 1vw;
    margin: 1.5vw 0;
    
  }
  body .card #message-section #user {
    border: 1.5px solid #000;
    border-radius: 1.5vw 0vw 1.5vw 1.8vw;
    background-color: #000;
    border: 0.15vw solid rgb(0, 255, 136);
    float: right;
  }
  body .card #message-section #user #user-response {
    color: #fff;
  }
  body .card #message-section .message {
    color: #ffffff;
    clear: both;
    line-height: 1.2vw;
    font-size: 1.2vw;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: 2;
    
  }
  body .card #input-section {
    z-index: 1;
    padding: 0 2.5vw;
    display: flex;
    border-color: #000;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 6vw;
    width: 100%;
    
  }
  body .card #input-section input {
    color: #000;
    min-width: 0.5vw;
    outline: none;
    height: 5vw;
    width: 26vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 25px;
  }
  body .card .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 1.45vw;
    margin-right: 0vw;
    padding: 0;
    position: relative;
    outline: none;
  }
  body .card .send .circle {
    position: relative;
    width: 4.8vw;
    height: 4.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .card .send .circle i {
    font-size: 3vw;
    margin-left: -1vw;
    margin-top: 1vw;
  }